<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Kitten Fancy</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='kitten-style.css') }}">
</head>

<body>

  <main>

    <h1>Kitten Fancy!</h1>

    <h3>Your random number: {{ random_number }} </h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores impedit eius, qui deserunt delectus quam cumque hic harum consequatur quisquam odio iure ducimus tempora tenetur dicta totam placeat, asperiores nobis!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, placeat est eos nobis doloremque in aliquam, animi sint tenetur obcaecati maxime. Quis beatae ducimus obcaecati deleniti soluta, voluptatum, totam quaerat.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus magnam unde ipsum dolorem vero consequuntur eveniet ad deserunt expedita fuga porro suscipit labore ex, saepe quas odio, rerum ut nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, eveniet itaque exercitationem ratione rerum deleniti assumenda molestiae iste et aliquid. Officia optio, suscipit nisi harum, laborum nesciunt libero! Velit, maiores?</p>

    <img src="http://placekitten.com/200/200" alt="Adorable kitten">

    <img src="http://placekitten.com/300/300" alt="Another adorable kitten">

    <img src="http://placekitten.com/400/400" alt="Another adorable kitten">

  </main>

</body>

</html>
