body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}

table#employee_list {
  width: 70%;
  border: 1px solid white;
  border-collapse: collapse;
}

th {
  text-align: left;
  background-color: gray;
}

td, th {
  padding: 10px;
  /* border: 1px solid red; */
}
